## Performance Test Report

Customer: 1,000,000

Product: 100,000

Order: 1,000,000

Bellow is test performance report. Lower is better

|Test case|Constraint|Non Constraint|
|--|--|--|
|Search Product|3ms|7ms|
|Search Product|5ms|6ms|
|Search Product|5ms|5ms|
|Search Product|7ms|4ms|
|Search Product|5ms|5ms|
|Avg|5ms|5.4ms|
|Get revenue last month|280ms|277ms|
|Get revenue last month|270ms|275ms|
|Get revenue last month|257ms|260ms|
|Get revenue last month|253ms|305ms|
|Get revenue last month|252ms|279ms|
|Avg|262.4ms|279.2ms|
|Get revenue this year|324ms|350ms|
|Get revenue this year|290ms|435ms|
|Get revenue this year|331ms|345ms|
|Get revenue this year|361ms|337ms|
|Get revenue this year|340ms|326ms|
|Avg|329.2ms|358.6ms|
|Best seller product this year|395ms|442ms|
|Best seller product this year|384ms|394ms|
|Best seller product this year|389ms|437ms|
|Best seller product this year|450ms|407ms|
|Best seller product this year|416ms|401ms|
|Avg|406.8ms|416.2ms|
|Top customer this year|518ms|548ms|
|Top customer this year|509ms|531ms|
|Top customer this year|502ms|471ms|
|Top customer this year|544ms|527ms|
|Top customer this year|484ms|510ms|
|Avg|511.4ms|517.4ms|
|Insert customer|9ms|7ms|
|Insert customer|9ms|8ms|
|Insert customer|9ms|8ms|
|Insert customer|9ms|6ms|
|Insert customer|11ms|9ms|
|Avg|9.4ms|7.6ms|
|Update customer|11ms|12ms|
|Update customer|13ms|11ms|
|Update customer|16ms|10ms|
|Update customer|16ms|23ms|
|Update customer|16ms|12ms|
|Avg|14.4ms|13.6ms|
|Delete customer|13ms|11ms|
|Delete customer|1295ms|11ms|
|Delete customer|406ms|10ms|
|Delete customer|1252ms|12ms|
|Delete customer|746ms|20ms|
|Avg|742.4ms|12.8ms|
