## Performance Test Report

Customer: 1,000,000

Product: 100,000

Order: 1,000,000

|Test case|Constraint|Non Constraint|
|--|--|--|
|Search Product|4|4|
|Search Product|3|3|
|Search Product|3|3|
|Search Product|3|3|
|Search Product|3|4|
|Avg|3.2|3.4|

|Test case|Constraint|Non Constraint|
|--|--|--|
|Get revenue last month|211|241|
|Get revenue last month|215|222|
|Get revenue last month|203|234|
|Get revenue last month|190|248|
|Get revenue last month|194|237|
|Avg|202.6|236.4|

|Test case|Constraint|Non Constraint|
|--|--|--|
|Get revenue this year|291|285|
|Get revenue this year|284|289|
|Get revenue this year|276|338|
|Get revenue this year|338|322|
|Get revenue this year|316|324|
|Avg|301|311.6|

|Test case|Constraint|Non Constraint|
|--|--|--|
|Best seller product this year|367|333|
|Best seller product this year|358|450|
|Best seller product this year|330|337|
|Best seller product this year|443|324|
|Best seller product this year|383|376|
|Avg|376.2|364|

|Test case|Constraint|Non Constraint|
|--|--|--|
|Top customer this year|432|482|
|Top customer this year|440|438|
|Top customer this year|491|422|
|Top customer this year|439|492|
|Top customer this year|439|502|
|Avg|448.2|467.2|

