## Performance Test Report

Customer: 1,000,000

Product: 100,000

Order: 1,000,000

Bellow is test performance report. Lower is better

|Test case|Constraint|Non Constraint|
|--|--|--|
|Search Product|5ms|5ms|
|Search Product|6ms|4ms|
|Search Product|6ms|4ms|
|Search Product|4ms|5ms|
|Search Product|5ms|5ms|
|Avg|5.2ms|4.6ms|
|Get revenue last month|275ms|318ms|
|Get revenue last month|331ms|310ms|
|Get revenue last month|346ms|285ms|
|Get revenue last month|348ms|295ms|
|Get revenue last month|317ms|257ms|
|Avg|323.4ms|293ms|
|Get revenue this year|408ms|526ms|
|Get revenue this year|442ms|387ms|
|Get revenue this year|515ms|505ms|
|Get revenue this year|541ms|441ms|
|Get revenue this year|419ms|505ms|
|Avg|465ms|472.8ms|
|Best seller product this year|453ms|405ms|
|Best seller product this year|415ms|469ms|
|Best seller product this year|577ms|438ms|
|Best seller product this year|488ms|463ms|
|Best seller product this year|463ms|430ms|
|Avg|479.2ms|441ms|
|Top customer this year|538ms|599ms|
|Top customer this year|607ms|526ms|
|Top customer this year|475ms|628ms|
|Top customer this year|616ms|599ms|
|Top customer this year|569ms|618ms|
|Avg|561ms|594ms|

